header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    box-shadow: 0 -10px 20px #000;
    z-index: 10;
}

.menu-bar {
    padding: 20px 15px;
}

.menu-bar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.menu-bar ul li {
    list-style: none;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    margin: 0 30px;
}

.menu-bar .logo {
    flex: 1 1 auto;
}

.menu-bar .logo img {
    height: 50px;
    width: auto;
    display: block;
    margin-bottom: -33px;
    margin-top: -31px;
}

.menu-bar ul li a {
    display: inline-block;
    color: #274AB7;
}

.menu-mobile {
    display: none;
}

.menu-mobile .logo img {
    display: inline;
    margin: 0
}
.menu-mobile .btn-menu {
    margin: 0 15px 0 0;
}

.btn-menu-mobile img {
    display: block;
    height: 40px;
    width: auto;
}

.slider-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #3d9c8b;
}

.slider-content .c-innova-text {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    position: relative;
    padding: 15px;
    text-align: center;
}

.slider-content .logo {
    width: 100%;
    display: block;
    height: auto;
    z-index: 1;
    max-width: 200px;
    margin: 0 auto 30px;
}

.c-innova-text h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    color: #FFF;
}

.c-innova-text h2 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #FFF;
}

.c-innova-text .btn {
    margin: 25px 0 0;
}

.section-content,
.service-content {
    padding: 40px 0;
}

.about-content .btn-services {
    margin: 30px 0 0;
}

.specialist-content {
    background: #CB2B58;
}

.specialist-content .title-style-2 {
    color: white;
}

.specialist {
    text-align: center;
    margin: 0;
    padding: 30px;
    color: #FFF;
}

.specialist img {
    display: block;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.specialist h2,
.specialist p,
.specialist li {
    color: #FFF;
}

.specialist ul {
    padding: 0;
    margin: 0;
}

.specialist li {
    list-style: none;
}

.contact-content {
    background: #274AB7;
}

.contact-content .title-style-1 {
    color: #ffffff;
}

.contact-form-content {
    padding: 30px;
    background: #FFF;
    margin: 0;
}

.social-media {
    padding: 0;
    margin: 0;
}

.social-media li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.social-media img {
    display: block;
    width: 50px;
}

.social-media-content {
    margin-top: 30px;
}

.figure-content-service {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 30px;
    max-width: 200px;
    width: 100%;
    height: 100%;
}

.figure-content-service img {
    display: block;
    width: 100%;
    height: auto;;
}

.workshop-banner {
    margin-top: 100px;
}
