header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-bar {
    padding: 15px;
}

.menu-bar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.menu-bar ul li {
    list-style: none;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.menu-bar ul li a {
    display: inline-block;
}

.slider-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.slider-content .c-innova-text,
.slider-content .c-innova-logo {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    position: relative;
}

.slider-content .c-innova-text {
    padding: 20px;
    margin-right: 200px;
}

.slider-content .c-innova-logo {
    max-width: 320px;
    width: 100%;
}

.slider-content .logo {
    width: 100%;
    display: block;
    height: auto;
    z-index: 1;
}

.slider-content .back-photo,
.slider-content .square {
    position: absolute;
    z-index: -1;
}

.slider-content .back-1 {
    top: -40%;
    left: -20%;
    max-width: 160px;
}

.slider-content .back-2 {
    top: -30%;
    right: -50%;
    width: 250px;
}

.slider-content .back-3 {
    bottom: -20%;
    left: -30%;
    max-width: 210px;
}

.slider-content .color-1 {
    width: 160px;
    height: 40px;
    background: #BEF065;
    top: 10px;
    left: -40%;
}

.slider-content .color-2 {
    width: 120px;
    height: 120px;
    background: #CB2B58;
    top: 30%;
    right: -60%;
}

.slider-content .color-3 {
    width: 200px;
    height: 40px;
    background: #274AB7;
    bottom: -25%;
    left: 0;
}

.c-innova-text h1 {
    margin: 0;
    font-size: 80px;
    line-height: 1;
    text-align: center;
}

.c-innova-text h2 {
    font-size: 27px;
    font-weight: 100;
    text-align: center;
}

.c-innova-text .btn {
    margin: 25px 0 0;
}

.section-content {
    padding: 65px 0;
}

.about-content .btn-services{
    margin: 30px 0 50px;
}
.specialist-content {
    background: #CB2B58;
}
.specialist-content .title-style-2 {
    color: white;
}
.specialist {
    text-align: center;
    margin: 0;
    padding: 15px;
}